<div class="homepage mrg10">
	<div class="templates">
		<div id="ctl00_cplhMain_ucHomepage_divTopTemplate" swipetype="inline" swipe="items" link="2" limit="300" class="std">
			<div class="homeA1 grid_6 bdrAll"  modulerank="1" moduleid="3895"><a title="Ping G400 Price Drops" href="https://www.globalgolf.com/golf-clubs/new/ping/?tag=275"></a><div class="txtoverlay"><p class="pHead"><a href="https://www.globalgolf.com/golf-clubs/new/ping/?tag=275">Ping G400 <span class="red">Price Drops</span></a></p></div></div>
	</div>
