<img src="https://d31td5fkd89rr1.cloudfront.net/productLineImages/gif/gotham-111-84eeb8e4593fa296db452d7147a1e7aa.gif" alt="Gotham Bold" style="height: 36px;" />
<br />
<img src="https://d31td5fkd89rr1.cloudfront.net/productLineImages/gif/gotham-107-d87b60cb570a51201e137faca6e5055e.gif" alt="Gotham Book" style="height: 36px;" />
<br />
<img src="https://d31td5fkd89rr1.cloudfront.net/productLineImages/gif/gotham-108-d87b60cb570a51201e137faca6e5055e.gif" alt="Gotham Book Italic" style="height: 36px;" />
<br />
<img src="https://d31td5fkd89rr1.cloudfront.net/productLineImages/gif/gotham-cond-111-4961b2b4845364cee801e925328f9ab4.gif" alt="Gotham Condense Bold" style="height: 36px;" />
<br />
<img src="https://d31td5fkd89rr1.cloudfront.net/productLineImages/gif/gotham-cond-112-aeea275320b8089f89d29ec334db2934.gif" alt="Gotham Condensed Bold Italic" style="height: 36px;" />